@import "tailwindcss/base";
/*
 * uncomment if adding custom base styles
@import "./custom-base-styles.css";
*/

@import "tailwindcss/components";
/*
 * uncomment if adding custom commponents
@import "./custom-components.css";
*/

@import "tailwindcss/utilities";
/*
 * uncomment if adding custom utilities
@import "./custom-utilities.css";
*/


/* admin bar fix */
body.admin-bar {
    max-height: calc(100vh - 32px);
}

#main-container {
    background-image: url(../img/bg-msm.png);
    background-position-x: right;
    background-size: auto 100%;
    font-family: 'SouvenirMonoEF', sans-serif;
}
.menu-bg {
    background-image: url(../img/bg-msm.png);
    background-position-x: right;
    background-size: auto 100%;
}
.blob-bg {
    background-image: url(../img/blob.svg);
    background-size: contain;
    background-position: center;
    aspect-ratio: 17/10;
    background-repeat: no-repeat;
    margin-left: 12%;
    margin-right: 12%;
}
.pink-blob-bg {
    background-image: url(../img/pink-blob.svg);
    background-size: 100% auto;
    background-position: top center;
}